.banner{
  height: 300px;
  width: 100%;
  position: relative;
}
.banner span{
  position: absolute;
  top: 130px;
  right: 20%;
  color: white;
  font-size: 40px;
}
/* video-iframe-thumbnail.component.css */
.video-thumbnail {
  position: relative;
  cursor: pointer;
}
.centr{
  font-size: 36px;
  padding: 20px 0;
}
.thumbnail-image {
  width: 100%;
  height: auto;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
}
.frameClass{
  width: 100% ;
}
pre{
  color: #212529;
  border: none;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
