<div *ngIf="!!this.course">
  <div class="banner" [ngStyle]="{background: 'url(assets/vector.PNG)'}">
    <span>Discover Latest Courses on Angular</span>
  </div>
  <div class="container">
    <br>
    <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dash/home">All Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{course.courseName}}</li>
      </ol>
    </nav>
    <br>
    <br>
    <!-- advanced machine learning -->
    <div class="row">
      <div class="col-8">
        {{course.content}}
      </div>
      <div class="col-4">
        <mat-card *ngIf="loaded">
          <!-- video-iframe-thumbnail.component.html -->
          <div *ngIf="!isVideoPlaying" class="video-thumbnail" (click)="playVideo()">
            <img [src]="course.imageUrl" alt="Video Thumbnail" class="thumbnail-image">
            <div class="play-button">&#9654;</div>
          </div>
          <iframe height="250" class="frameClass" *ngIf="isVideoPlaying" [src]="sanitizedVideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <div class="centr">
            <s>{{course.actualPrice}}</s>&nbsp;&#8377;{{getPrice(course.actualPrice, course.discountPercentage)}}
          </div>
          <mat-card-actions>
            &nbsp;
            <a [routerLink]="" (click)="addToWishList(course)" [ngClass]="{ isDisabled: checkElement(course) }">Add to WishList</a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a [routerLink]="" (click)="addToCart(course)">Add to Cart</a>
          </mat-card-actions>

        </mat-card>
        <br>
        <mat-card *ngIf="displayHours">
            <mat-card-content class="saleEnds">Sale Ends In: {{ hours }} hours and {{minutes}} minutes
            </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>>
