<mat-toolbar>
  <img class="image" src="assets/professional logo.jpg" (click)="goToPage('')">
  <span>My App</span>
  <span class="example-spacer"></span>
  <span class="navIcons" (click)="goToPage('courses')">Courses</span>
  <span class="navIcons" (click)="goToPage('wishList')">My Wish List</span>
  <span class="navIcons" (click)="goToPage('cartDetails')">Cart Details</span>
  <span class="navIcons" (click)="goToPage('profilePage')">My Profile Page</span>
</mat-toolbar>
<router-outlet></router-outlet>
